.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 5px;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}

.App-header {
  background-color: #0084FF;
  color: white;
  text-align: center;
  padding: 10px;
}

.Messages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  flex-grow: 1;
}

.Messages-message {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
  background-color: #e0e9f3;
  color: #0084FF;
  padding: 10px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.currentMember > .Message-content {
  background-color: #e4e1e1;
}

.Message-content > .username {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding-bottom: 4px;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 20px auto;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid #ddd;
  flex-grow: 1;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0084FF;
  color: white;
  border: none;
  border-radius: 25px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #015eb5;
}
